/* HOME PAGE STYLES */
.lp-container {
  height: calc(100vh - 70px);
  padding: 20px 32px;

  .text-col {
    h1 {
      font-weight: bold;
    }
  }

  .image-col img {
    width: 100%;
  }
}

.landing-container {
  height: 100vh;
}

#scroll-down-button {
  animation: upDownAnimation 1s infinite alternate;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  i {
    font-size: 50px;
    color: $dark_green;
  }
}

@keyframes upDownAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.get-started-container {
  padding-top: 32px;
  .image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
    justify-content: center;
    gap: 10px;
    height: 75vh;
  }
  
  .image-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 75%;
      height: 75%;
      object-fit: cover;
    }
  }
}