/* HOME PAGE STYLES */

.lp-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.image-side {
  flex: 8;
  position: relative;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-side {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login {
  background-color: #007BFF;
  color: white;
}

#signup {
  background-color: #28A745;
  color: white;
}

h1 {
  text-align: center;
}

.container-side {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
