@import "../node_modules/bootstrap/scss/bootstrap";

/* VARIABLES */

$dark_green: #007139;
$light_green: #40ac76;
$dark_yellow: #f0ab00;
$dark_red: #a32f2d;

@import "helpers";
@import "menu";
@import "home";
@import "about";
@import "recipes";
@import "recipe-view";
@import "signup";

/* FONTS */

//noinspection ALL
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/playfair_display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//noinspection ALL
@font-face {
  font-family: 'Licorice';
  src: url('/fonts/licorice/Licorice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* GLOBAL STYLES */

body, html {
  font-family: PlayfairDisplay, serif;
}

.container {
  max-width: 1120px;
}

h1, h2, h3 {
  font-size: 28px;
  font-weight: bold;

  &.script {
    font-family: Licorice, PlayfairDisplay, serif;
    font-weight: bold;
  }
}

a {
  display: inline-block;
  color: $dark-yellow;
}

.gradient-button {
  color: white;
  background: linear-gradient(to right, $dark_green, $light_green);
  border-radius: 20px;
  border: 1px solid $dark_green;
  width: 50%;
}

a.no-style {
  text-decoration: none;
  color: inherit;
}