{{> welcome-menu }}
<div class="container">
    <h1 class="mt-3 fs-1">
        <u>How <span style="color: #35B348;">Easy</span><span style="color: #F0AB00;">Bites</span> works - In <span style="color: #74096C;">4</span> easy steps to your perfect dish!</u>
    </h1>
    <div class="image-grid">
        <div class="image-grid-item">
            <img src="/images/im_howto_1.png" alt="Image 1">
            <p>Fill in your preferences. Tell us how you like to eat and what your budget is. <strong>We'll suggest recipes to suit you.</strong></p>
        </div>
        <div class="image-grid-item">
            <img src="/images/im_howto_2.png" alt="Image 2">
            <p>Fill in what you have. Tell us what ingredients you have in your fridge or pantry. <strong>We'll find the best recipes for you.</strong></p>
        </div>
        <div class="image-grid-item">
            <img src="/images/im_howto_3.png" alt="Image 3">
            <p>Choose your recipes. Filter by your taste and check out the recipes with pictures and ratings. <strong>Save, share or rate them as you like.</strong></p>
        </div>
        <div class="image-grid-item">
            <img src="/images/im_howto_4.png" alt="Image 4">
            <p>Create your recipes. Be creative and share your own dishes with the community. <strong>Get feedback and inspiration from other users.</strong></p>
        </div>
    </div>
    <div class="button-container bc-center">
        <button id="startnow">START NOW</button>
    </div>
</div>
