{{> welcome-menu }}

<div class="lp-container">
    <div class="row">
        <div class="col-sm-6 text-col">
            <h1 class="title large mt-3">Delicious meals on a student budget - with no waste, just taste!</h1>
            <p class="mt-4">
                Here you can find and make great recipes from the ingredients you already have in your fridge.
                <br><br>
                Save money, time and food and enjoy every bite!
            </p>
        </div>
        <div class="col-sm-6 image-col">
           <img src="/images/dontWasteFood.jpg" alt="Don't waste food">
        </div>
    </div>
    <button class="btn btn-no-style" type="button" onclick="scrollDown()" id="scroll-down-button">
        <i class="fas fa-arrow-down"></i>
    </button>
    <script>
        function scrollDown() {
            // Calculate the height of the viewport
            const viewportHeight = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);

            // Scroll the page down by the height of the viewport
            window.scrollTo({
                top: viewportHeight,
                behavior: 'smooth'
            });
        }
    </script>
</div>
<div class="get-started-container container">
    <h1 class="mb-4 fs-2 text-center">
        <u>How <span style="color: #007139;">Easy</span><span style="color: #f0ab00;">Bites</span> works - In <span style="color: #74096C;">4</span> easy steps to your perfect dish!</u>
    </h1>
    <div class="image-grid">
        <div class="image-grid-item">
            <img src="/images/im_howto_1.png" alt="Image 1">
            <p>Fill in your preferences. Tell us how you like to eat and what your budget is. <strong>We'll suggest recipes to suit you.</strong></p>
        </div>
        <div class="image-grid-item">
            <img src="/images/im_howto_2.png" alt="Image 2">
            <p>Fill in what you have. Tell us what ingredients you have in your fridge or pantry. <strong>We'll find the best recipes for you.</strong></p>
        </div>
        <div class="image-grid-item">
            <img src="/images/im_howto_3.png" alt="Image 3">
            <p>Choose your recipes. Filter by your taste and check out the recipes with pictures and ratings. <strong>Save, share or rate them as you like.</strong></p>
        </div>
        <div class="image-grid-item">
            <img src="/images/im_howto_4.png" alt="Image 4">
            <p>Create your recipes. Be creative and share your own dishes with the community. <strong>Get feedback and inspiration from other users.</strong></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <a href="/signup" class="btn gradient-button">Start now</a>
        </div>
    </div>
</div>
