{{> welcome-menu }}
<div class="lp-container">
    <div class="image-side">
        <div class="image-container">
            <img src="/images/dontWasteFood.jpg" alt="Description of image">
        </div>
    </div>
    <div class="text-side">
        <h1 class="title">EasyBites</h1>
        <button id="login">Log In</button>
        <button id="signup">Sign Up</button>
    </div>
</div>