{{> welcome-menu }}

<div class="lp-container">
    <div class="half-container">
        <div class="text-side">
            <h1 class="title">Delicious meals on a student budget - with no waste, just taste!</h1>
            <p>
                Here you can find and make great recipes from the ingredients you already have in your fridge.
                <br><br>
                Save money, time and food and enjoy every bite!
            </p>

        </div>
    </div>
    <div class="half-container">
        <div class="image-side">
            <div class="image-container">
                <img src="public/images/dontWasteFood_peach.jpg" alt="Don't waste food" >
            </div>
        </div>
    </div>
</div>
