{{> welcome-menu }}
<!--
<div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h1 class="font-weight-bold text-center">Delicious meals on a student budget - with no waste, just taste!</h1>
        <p class="text-center">Here you can find and make great recipes from the ingredients you already have in your fridge.</p>
        <p class="text-center">Save money, time, and food and enjoy every bite!</p>
    </div>
    <div class="col-md-6">
        <img src="/images/dontWasteFood_peach.jpg" alt="Don't Waste Food" class="img-fluid">
    </div>
</div>
-->


<div class="lp-container">
    <div class="image-side">
        <div class="image-container">
            <img src="/images/dontWasteFood_peach.jpg" alt="Description of image">
        </div>
    </div>
    <div class="text-side">
        <h1 class="title">EasyBites</h1>
        <button id="login">Log In</button>
        <button id="signup">Sign Up</button>
    </div>
</div>
