{{> welcome-menu }}
<div class="container recipe-container">
    <h1 class="display-1 script rotate mt-5">Pasta with tomato sauce and cheese</h1> <!-- TODO: change to recipe name -->
    <div class="image-container recipe-img-container">
        <img src="/images/pasta.jpg" class="recipe-header-img img-fluid mx-auto d-block rotate"
             alt="Pasta with tomato sauce and cheese"> <!-- TODO: change alt to recipe name -->
    </div>
</div>