{{> welcome-menu }}
<div class="container recipe-container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="/images/pasta.jpg" alt="Pasta">
        </div>
        <div class="col-sm-6">
            <h1>Pasta with tomato sauce and cheese</h1>
            <div class="info mt-3">
                <div class="prep-container mt-4">
                    <img class="icon" src="/icons/time.svg" alt="Preparation time">
                    <span>20</span> Min
                </div>
                <img class="icon" src="/icons/plant.png" alt="vegetarian">
                <h2 class="mt-5">Ingredients</h2>
                Ingredient 1<br>
                Ingredient 2<br>
                Ingredient 3<br>
                Ingredient 4<br>
            </div>
        </div>
    </div>
    <h2 class="mt-4 mb-3">Instructions</h2>
    Do this<br>
    and then this<br>
    and dont forget this
</div>