{{> welcome-menu }}
<div class="container">
    <h1 class="mt-3 mb-4">Register User Info</h1>
    <div class="form-container">
        <form>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="username" placeholder="Choose unique username">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="email" placeholder="Fill email">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="password" placeholder="Choose password">
                </div>
            </div>
            <div class="row">
                <button class="col-sm-4" id="register">Register</button>
            </div>
        </form>
    </div>
</div>