<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<div class="container">
    <div class="image-side">
        <div class="image-container">
            <img src="/images/dontWasteFood.jpg" alt="Description of image">
        </div>
    </div>
    <div class="text-side">
        <h1 class="title">EasyBites</h1>
        <button id="login">Log In</button>
        <button id="signup">Sign Up</button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/">HOME</a></li>
            <li id="howto"><a href="/about">HOW TO</a></li>
            <!--<li id="contact"><a href="/contact">CONTACT US</a></li>-->
        </ul>
    </div>
</div>
</body>
</html>
